---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Libre Baskerville', serif;
$base-font-weight: 400;
$strong-font-weight: 700;

$google-chrome-blue: rgb(0,0,238);
$cobalt-blue: #0047AB;

$breakpoint-tablet: 1000px;
$breakpoint-mobile: 640px;

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

p,li {
    line-height: 28px;
}

strong {
    font-weight: $strong-font-weight;
}

a {
	text-decoration:none;
	color: $cobalt-blue;
}

h2 > a {
	font-weight: $strong-font-weight;
}

a:hover,a:focus,a:active {
	text-decoration:underline;
}

blockquote {
	font-style: italic;
	font-size:110%;

	padding-left: 10px;
	padding-top:5px;
	padding-bottom:5px;

	margin-left: 10px;
	margin-top:15px;
	margin-bottom:15px;

	border-left:solid gray 1px;
}

.wrapper {
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.site-header {
	width:20%;
	display:inline-block;
	vertical-align:top;

	border-right: dotted lightgray 1px;

	.header-content > h1 > a {
		color:inherit;
	}

	.brand-icon {

		width:100%;

		img {
			width:100%;
		}
	}
	
	@media( max-width: $breakpoint-tablet) {
		width:100%;

		.brand-icon {
			width: auto;
			height: 200px;
			display: inline-block;

			img {
				width: auto;
				height: 100%;
			}
		}

		.header-content {
			display:inline-block;
		}
	}

	@media( max-width: $breakpoint-mobile) {

		.brand-icon {
			width: auto;
			height: 300px;
			display: block;
			text-align:center;

			img {
				width: auto;
				height: 100%;
			}
		}

		.header-content {
			display:block;
			text-align:center;

			> nav ul {
				padding:0px;

				> li{
					list-style-type:none;
					display:inline-block;
				}

				> li:not(:first-child):before {
					content: '|';
				}
			}
		}
	}
}

.content {
	width:79%;
	display:inline-block;
	vertical-align:top;

	padding-left:2%;
	padding-right:2%;

	box-sizing:border-box;

	@media( max-width: $breakpoint-tablet) {
		width:100%;
	}
}

.post-item {
	border-bottom: dotted lightgray 1px;

	.post-meta {
		color:gray;
		float:right;
	}
}

.post {
	.post-header {
		.post-meta {
			color:gray;
			float:right;
		}
	}
//	.post-content {
//		> p:first-child:first-letter {
//			font-size:500%;
//			float:left;
//			padding:5px;
//			margin:5px;
//			border: solid black 2px;
//			border-radius:5px;
//		}
//	}
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

