---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Libre Baskerville', serif;
$base-font-weight: 400;
$strong-font-weight: 700;

$google-chrome-blue: rgb(0,0,238);
$cobalt-blue: #0047AB;

$breakpoint-tablet: 1200px;
$breakpoint-mobile: 640px;

$border-style: dotted lightgray 1px;

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

p,li {
    line-height: 28px;
}

strong {
    font-weight: $strong-font-weight;
}

::-moz-selection {
	color: White;
	background: $cobalt-blue;
}
::selection {
	color: White;
	background: $cobalt-blue;
}

a {
	text-decoration:none;
	color: $cobalt-blue;
}

h2 > a {
	font-weight: $strong-font-weight;
}

a:hover,a:focus,a:active {
	text-decoration:underline;
}

blockquote {
	font-style: italic;
	font-size:110%;

	padding-left: 10px;
	padding-top:5px;
	padding-bottom:5px;

	margin-left: 10px;
	margin-top:15px;
	margin-bottom:15px;

	border-left:solid gray 1px;
}

.wrapper {
	width:100%;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.sidebar {
  position: fixed;
  height: 100%;
	display:inline-block;
  width: 200px;


	h1 > a {
		color:inherit;
	}

	.brand-icon {

		width:100%;

		img {
			width:100%;
		}
	}

  > nav ul {
    color: gray;
  }
	
	@media( max-width: $breakpoint-tablet) {
    position: static;
		width:100%;
		display:block;
		text-align:center;
		border:none;

		.brand-icon {
			width: auto;
			height: 300px;
			display: block;
			text-align:center;

			img {
				width: auto;
				height: 100%;
			}
		}

		> nav ul {
			padding:0px;

			> li{
				list-style-type:none;
				display:inline-block;
			}

			> li:not(:first-child):before {
				content: '∙';
			}
		}
	}
}

.content {
	width:79%;
	display:inline-block;
	vertical-align:top;

	padding-left:2%;
	padding-right:2%;
  margin-left: 20%;

	box-sizing:border-box;

	@media( max-width: $breakpoint-tablet) {
		width:100%;
    margin-left: 0px;
	}
}

.post-item {
	border-bottom: $border-style;

	.post-meta {
		color:gray;
		display:block;
	}
}

.post {
	.post-header {
		.post-meta {
			color:gray;
			display:block;
		}
	}
	.post-content {
		img {
			max-height:350px;
			max-width:100%;
			display:block;
			margin-left:auto;
			margin-right:auto;
			//float:right;
			@media( max-width: $breakpoint-tablet) {
				float:none;
				max-width:100%;
				max-height:none;
			}

			padding:10px;
		}
//		> p:first-child:first-letter {
//			font-size:500%;
//			float:left;
//			padding:5px;
//			margin:5px;
//			border: solid black 2px;
//			border-radius:5px;
//		}
	}
	.post-footer {
		border-top: $border-style;
		a {
			color:black;
		}
    > table {
      width: 100%;
      td.next, td.prev {
        text-decoration:none;
        .sym {
          font-size:2em;
          color:gray;
        }
        width:50%;
        vertical-align: top;
        padding: 5px;
      }

      td.prev {
        text-align:right;
      }
    }
	}
}

.site-footer {
	width:100%;
	color: gray;
  text-align:center;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}
