<header class="sidebar">
		<img src="/upsdown_satkan.png" style="max-width:180px;transform:translateY(-8px);" title="Satyajeet Kanetkar"/>
		<h1>
			<a href="{{ site.baseurl }}/">
				{{ site.title }}
			</a>
		</h1>


		<p>{{ site.description }}</p>

		<nav>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
          <span>GitHub</span>
        </a> ∙
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
          <span>Twitter</span>
        </a> ∙
      {% endif %}
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> RSS</a>
		</nav>
    <br/>
		<nav>
      <a href="/tags/software.html">software</a> ∙
      <a href="/tags/movie-review.html">movies</a> ∙
      <a href="/tags/book-review.html">books</a> ∙
      <a href="/">all</a>
		</nav>
</header>
