---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <small class="post-meta">
		{{ page.date | date: "%b %-d, %Y" }}
		{% if page.author %} • {{ page.author }}{% endif %}
		{% if page.tags != empty %} • filed under {{ page.tags }}{% endif %}
		{% if page.meta %} • {{ page.meta }}{% endif %}
		{% if page.spoilers %} • aerodynamic {% endif %}
    </small>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <footer class="post-footer">
    <p>
    {% if page.next.url %} 
    <div class="next">
      <a href="{{page.next.url}}" title="{{page.next.title}}">{{page.next.title}}</a>
      <br>
      <span class="sym" title="{{page.next.title}}">&xlarr;</span>
    </div>
    {% endif %} 
    {% if page.previous.url %} 
    <div class="prev">
      <a href="{{page.previous.url}}" title="{{page.previous.title}}">{{page.previous.title}}</a>
      <br>
      <span class="sym" title="{{page.previous.title}}">&xrarr;</span>
    </div>
    {% endif %} 
    </p>
  </footer>
</div>
